@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');/*font-family: 'Ubuntu', sans-serif;*/
/*cores
#150050
#3F0071
#610094
*/
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(0, 0, 0);
    color: #eee;
}

a{
    text-decoration: none;
}

header{
    background-color: #111;
    height: 80px;
}

.menu{
    display: flex;
    justify-content: end;
    padding-top: 30px;
}

.menu-item{
    margin-right: 35px;
    list-style-type: none;
}

.menu-item a:hover{
    color: #eee;
    transition: .5s;
}

.logo{
margin-top: 10px;
margin-left: 100px;
position: absolute;
}

/*ÍCONES DE REDES SOCIAIS*/
.redes-icones{
    position: absolute;
    margin-top: 20px;
    margin-left: 40%;
}

.redes-icones a{
    margin: 5px 5px;
}

.redes-icones a:hover{
    border-bottom: 5px solid #610094;
    transition: .2s;
}

/*PRIMEIRA SEÇÃO*/
.primeira-secao-container{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 95vh;
   background: url('../imagens/jws01.jpg');
   background-position: center; /* Center the image */
   background-repeat: no-repeat; /* Do not repeat the image */
   background-size: cover; /* Resize the background image to cover the entire container */
}

.primeira-secao-texto{
    margin-top: 40px;
    background-color: rgba(1, 1, 1, .8);
    text-align: center;
    color: #eee;
    padding: 10px;
    font-size: 1.4rem;
}

.primeira-secao-texto p{
    width: 600px;
}

#date{/*
    display: block;
    margin-top: 10px;
    border: 3px solid yellow;
    
    font-size: 50px;
    width: 400px;
    height: 50px;
    */
}

