.segunda-secao-container h1{
    text-align: center;
    margin-top: 20px;
    font-size: 3em;
    color: #610094;
}

.bloco-horizontal{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 400px;    
    margin-top: 20px;
}

.bloco-texto{
    padding-top: 110px;
    text-align: center;
    font-size: 2em;
    background-color: #610094;
}